.App {
  text-align: center;
}
    
.navbar{      
  margin: 0;      
  color :#ffffff;      
  background: #6699ff;  
  width: 100%;
  height: 50px;
  font-size:24px;
} 

.nav-link{
	text-decoration:none;
	color:#ffffff;
}
.navbar ul { 
  float: right;     
  margin-top: 10px;      
  list-style-type: none;
    
} 

.navbar ul  li{      
  margin: 0;
  padding: 5px;
  display: inline;
  list-style-type: none;
  border-left: 2px solid #cccccc;
}  
 
 .navbar h2 {
	margin: 0; 
	padding: 0;
	float: left;
	color: #ffffff;	
}

.Main-content{
	border: 1px solid #eee;
	width: 60%;
	margin: auto;
	justify-content: center;
}

.Form-content input{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size:18px;
	color: #000000;
}
.Form-content textarea{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size:18px;
	color: #000000;
}

.Form-content select{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size:18px;
}

.Form-content h1{
	height:35px;
	margin: 0 auto 30px auto;
	background: #aaaaaa;
	color:#ffffff;
	text-align: center;
	padding:0;
	font-size: 20px;
}
.Form-content button{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	background: #6699ff;
	color:#ffffff;
	padding:0;
	font-size:18px;
}
.Form-content{
	border: 1px solid #eee;
	width: 30%;
	margin: auto;
	justify-content: center;
	border-radius: 5px;
}
.Inner-content{
	border: 1px solid #eee;
	width: 50%;
	margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
