.App {
  text-align: center;
}
    
.navheader{      
  margin-top: 10px;      
  color :black !important;      
  background-color: #b3beca!important      
}    
.PageHeading      
{      
  margin-top: 10px;      
  margin-bottom: 10px;      
  color :black !important;      
}
.Main-content{
	border: 1px solid #eee;
	width: 60%;
	margin: auto;
	justify-content: center;
}

.Form-content input{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size:18px;
	color: #000000;
}

.Form-content select{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size:18px;
}

.Form-content h1{
	height:35px;
	margin: 0 auto 30px auto;
	background: #aaaaaa;
	border-radius: 5px;
	color:#ffffff;
	text-align: center;
	padding:0;
	font-size: 20px;
}
.Form-content button{
	display: block;
	margin: 10px auto 10px auto;
	width: 60%;
	height: 35px;
	border-radius: 5px;
	background: #6699ff;
	color:#ffffff;
	font-size:18px;
}
.Form-content{
	border: 1px solid #eee;
	width: 30%;
	margin: auto;
	justify-content: center;
}
.Inner-content{
	border: 1px solid #eee;
	width: 50%;
	margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
